@use "sharedStyles";
.cardShopSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.paginationBox {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pagination {
  :global(.MuiPaginationItem-root) {
    color: #59b17a;
  }
  :global(.MuiPaginationItem-root.Mui-selected) {
    background-color: #59b17a;
    color: white;
  }
  :global(.MuiPaginationItem-root:hover) {
    background-color: #9baba1;
    color: white;
  }
}

.cardShop {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.imgShop {
  border: $border-card;
  border-radius: 27px;
  padding: 14px 18px;
  width: 335px;
  height: 300px;
  margin-bottom: 10px;
}
.infoShop {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  max-width: 335px;
  max-height: 135px;
  background-color: $text-white-color;
  padding: 20px;
  justify-content: space-between;
}
.titleShopBox {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.titleBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.titleShop {
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
  line-height: 140%;
  color: $text-color-main;
}
.suppliersShop {
  font-weight: $font-weight-regular;
  font-size: $font-size-xs;
  line-height: 150%;
  color: $placeholder-color;
}

.priceShop {
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
  line-height: 140%;
  color: $text-color-main;
}
.buttonShopBox {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.buttonDetails {
  background: transparent;
  font-weight: $font-weight-regular;
  font-size: $font-size-xs;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $text-color-main;
}

@media screen and (min-width: $breakpoint-tablet) {
  .cardShopSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .imgShop {
    width: 226px;
    height: 260px;
  }
  .paginationBox {
    grid-column: 1 / -1;
    justify-self: center;
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .cardShopSection {
    grid-template-columns: repeat(4, 1fr);
  }
}
