@use "sharedStyles";

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 30, 33, 0.3);
  backdrop-filter: blur(2px);
}
