@use "sharedStyles";

.buttonShop {
  border-radius: 24px;
  padding: 10px 32px;
  background: $main-color;
  font-weight: $font-weight-medium;
  font-size: $font-size-sm;
  line-height: 100%;
  text-align: center;
  color: $background-color;
  &:hover {
  }
}
.buttonShopSecondary {
  border-radius: 24px;
  padding: 10px 25px;
  background: $button-color-edit;
  font-weight: $font-weight-medium;
  font-size: $font-size-sm;
  letter-spacing: -0.05em;
  text-align: center;
  color: $main-color;
  &:hover {
    color: $background-color;
  }
}
