@use "sharedStyles";

.greenRow {
  color: #59b17a;
  border-radius: 40px;
  padding: 4px;
  width: 80px;
  height: 25px;
  background-color: rgba(89, 177, 122, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2px;
}
.redRow {
  color: #e85050;
  border-radius: 40px;
  padding: 4px;
  width: 80px;
  height: 25px;
  background-color: rgba(232, 80, 80, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2px;
}
.blackRow {
  color: #1d1e21;
  border-radius: 40px;
  padding: 4px;
  width: 80px;
  height: 25px;
  background-color: rgba(29, 30, 33, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2px;
}
.positiveAmount {
  color: #59b17a;
}

.negativeAmount {
  color: #e85050;
}

.errorAmount {
  color: #1d1e21;
  text-decoration: line-through;
}
