// color
$main-color: #59b17a;
$main-color-active: #3f945f;
$background-color: #f7f8fa;
$text-color-main: #1d1e21;
$text-white-color: #fff;
$text-second-color: #6a6a6f;
$bg-color-button: rgba(29, 30, 33, 0.1);
$bg-color-button-active: rgba(29, 30, 33, 0.25);
$placeholder-color: rgba(29, 30, 33, 0.6);
$text-button-color: #93939a;
$text-button-cancel-color: rgba(29, 30, 33, 0.4);
$button-color-edit: rgba(89, 177, 122, 0.1);


// border
$border-input: 1px solid rgba(29, 30, 33, 0.2);
$border-button-logout: 1px solid rgba(89, 177, 122, 0.5);
$border-social:1px solid rgba(247, 248, 250, 0.1);
$border-social-active: 1px solid rgba(247, 248, 250, 0.5);
$border-card: 1.15px solid rgba(89, 177, 122, 0.6);
$border-top: 1px solid rgba(247, 248, 250, 0.3);
// fonts ===========================
$font-family: 'Inter', sans-serif;
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

// font size
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 28px;

