@use "sharedStyles";

.burger {
  background-color: transparent;
  border: none;
  padding: 0;
  transition: transform 0.3s ease;

  svg {
    transition: fill 0.3s ease, transform 0.3s ease;
  }
  &:hover,
  &:focus {
    background-color: transparent;
    svg {
      transform: scale(1.1);
    }
  }
}
