@import 'sharedStyles';

.reviewsBox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  li{
    border: 1px solid rgba(29, 30, 33, 0.1);
    border-radius: 20px;
    padding: 20px;
    background: $text-white-color;
  }
  h3 {
    font-weight: $font-weight-bold;
    font-size: $font-size-md;
    line-height: 129%;
    color:$text-color-main;
    margin-bottom: 8px;
  }
  p {
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
    line-height: 150%;
    color: $text-second-color;
  }
}