@use "sharedStyles";

.button {
  font-family: $font-family;
  font-weight: $font-weight-medium;
  font-size: $font-size-xs;
  line-height: 1.17;
  color: $main-color;
  border: $border-button-logout;
  border-radius: 30px;
  padding: 8px 16px;
  background: $text-white-color;
}
.button:hover {
  transform: scale(1.1);
  color: $text-white-color;
  background: $main-color;
}
