@import 'sharedStyles';
.logoutButton {
	display: flex;
	justify-content: center;
	align-items: center;
	border: $border-button-logout;
	border-radius: 60px;
	padding: 12px 28px;
	font-weight: $font-weight-regular;
	font-size: $font-size-sm;
	line-height: 100%;
	color: $main-color;

	&:hover {
		background-color: $main-color;
		color: $text-white-color;
		transform: scale(1.1);
	}
}
