@use "sharedStyles";

.fullFooter {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
  padding: 20px;
  background-color: $main-color;
  color: $text-white-color;
  p {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    width: 70%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .fullFooter {
    p {
      width: 45%;
    }
  }
  .footerBox {
    display: flex;
    justify-content: space-between;
  }
  .navBarBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .footerBox {
    margin-bottom: 50px;
    align-items: flex-start;
    p {
      width: 50%;
    }
  }
  .footerBox > div:first-child {
    flex: 50% 0;
  }
  .footerBox > div:last-child {
    flex: 0 70%;
  }
  .navBarBox {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }
}
