@use "@/styles/sharedStyles";

@use "sass:color";

.formBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    input {
      border: 1px solid rgba(29, 30, 33, 0.1);
      border-radius: 60px;
      padding: 13px 20px;
      background: #fff;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: rgba(29, 30, 33, 0.4);
    }
    span {
      position: absolute;
      gap: 5px;
      bottom: -12px;
      padding-left: 20px;
      font-size: 10px;
      color: red;
    }
  }
  button {
    border-radius: 60px;
    padding: 13px 139px;
    background: #59b17a;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #fff;
    margin-top: 16px;
    width: 100%;
  }
  a {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(29, 30, 33, 0.4);
  }
}

button:hover {
  background-color: color.adjust(#59b17a, $lightness: -10%);
  transform: scale(1.02);
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .formBox {
    gap: 20px;

    input {
      max-width: 323px;
    }
    button {
      max-width: 323px;
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: 1024px) {
}
